body{
    background-image: url("https://i.pinimg.com/736x/a3/3f/8e/a33f8eccc7ea100c68d42048abbc6e05.jpg");
    background-size: cover;
}
.heading
{
 background-color: hotpink;
  font-size: 23px;
  width: 100%;
  margin: 0px;
  box-shadow:5px 5px 5px skyblue;
}
.note
{
  font-size: 15px;
  color: black;
}
.copy_right_footer {
  position: fixed;
  color: white;
  bottom: 0;
  width: 100%;
  background-color:grey;
  line-height: 3;
  text-align: center;
}
canvas 
{
  border:5px solid white;
  border-radius:20px;
  box-shadow:5px 5px 5px grey;
}
